body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}

/* TOP SECTION */
.container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background: white;
}

.left {
    width: 60%;
}

.left h1 {
    font-size: 45px;
    margin: 0;
}

.left span {
    color: orange;
}

.tagline {
    color: orange;
    margin: 10px 0;
}

.black-box {
    background: black;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.about {
    color: #555;
}

/* IMAGE */
.right img {
    width: 220px;
    border-radius: 50%;
}

/* BOTTOM */
.bottom {
    display: flex;
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    flex: 1;
    border-radius: 12px;
}

.card a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: black;
}

.yellow {
    background: orange;
    }
